[submodule "googletest"]
	path = third_party/googletest
	url = https://github.com/telematixsw/googletest.git
[submodule "cpuinfo"]
	path = third_party/cpuinfo
	url = https://github.com/telematixsw/cpuinfo.git
